Zhirinovsky V.V.
age: 75
income: 2000000.12
fraction: LDPR
voices:42345

Kaz M.E
age: 36
income: 1000000.31
fraction: YABLOKO
voices:12043

Zyganov G.A
age: 77
income: 1500000.38
fraction: KPRF
voices:24021



